#header {
	font-weight: bold;
	border: 2px solid;
	margin-bottom: 30px;
}

div.text-content {
	background-color: grey;
	max-width: 450px;
	margin: 0 auto 15px;
	padding: 0 10px 10px 10px;
}

h1 {
	margin-bottom: 50px;
}

.text-content h3 {
	padding: 10px;
}

.text-content a {
	color: #105794;
}
/* Large Devices */
@media (min-width: 1200px){

}

/* Medium Devices */
@media (min-width: 992px) and (max-width: 1199px){

}

/* Small Devices */
@media (min-width: 768px) and (max-width: 991px){

}

/* Extra Small Devices */
@media (max-width: 767px){

}